.sticky {
	position: sticky;
	z-index: 10;
}

@media (min-width: 640px) {
	.sticky {
		bottom: calc(var(--spacing-2) * 1px);
	}
}

@media (max-width: 639px) {
	.sticky {
		bottom: calc(var(--calc-sp) * var(--spacing-2));
	}
}
