.sticky {
	display: flex;
	flex-direction: column;
	position: sticky;
	z-index: var(--z-sticky);
}

.scrolls {
	display: flex;
	justify-content: flex-end;
}

.actions[data-has-view='true'] {
	align-items: center;
	display: flex;
}

@media (min-width: 640px) {
	.sticky {
		bottom: calc(var(--spacing-2) * 1px);
		gap: calc(var(--spacing-1) * 1px);
	}
	.scrolls,
	.actions[data-has-view='true'] {
		gap: calc(var(--spacing-1) * 1px);
	}
}

@media (max-width: 639px) {
	.sticky {
		bottom: calc(var(--calc-sp) * var(--spacing-2));
		gap: calc(var(--calc-sp) * var(--spacing-1));
	}
	.scrolls,
	.actions[data-has-view='true'] {
		gap: calc(var(--calc-sp) * var(--spacing-1));
	}
}
