.button {
	background-color: var(--color-secondary);
	color: var(--color-white);
	cursor: pointer;
	display: block;
	font-weight: 700;
	margin-inline: auto;
	text-align: center;
	text-decoration: none;
	transition: opacity var(--transition);
	@media (hover: hover) {
		&:hover {
			opacity: var(--opacity);
		}
	}
	&:active {
		opacity: var(--opacity);
	}
	&[data-color='secondary'] {
		background-color: var(--color-secondary);
	}
	&[data-color='success'] {
		background-color: var(--color-success);
	}
}
@media (min-width: 640px) {
	.button {
		border-radius: calc(var(--border-radius) * 1px);
		font-size: calc(var(--font-size-2) * 1px);
		padding: calc(var(--spacing-2) * 1px);
		width: min(100%, 400px);
		&[data-color='secondary'] {
			box-shadow: 0 4px 0 var(--color-secondary-black);
		}
		&[data-color='success'] {
			box-shadow: 0 4px 0 var(--color-success-black);
		}
	}
}
@media (max-width: 639px) {
	.button {
		border-radius: calc(var(--calc-sp) * var(--border-radius));
		font-size: calc(var(--calc-sp) * var(--font-size-2));
		padding: calc(var(--calc-sp) * var(--spacing-2));
		width: 100%;
		&[data-color='secondary'] {
			box-shadow: 0 calc(var(--calc-sp) * 4) 0 var(--color-secondary-black);
		}
		&[data-color='success'] {
			box-shadow: 0 calc(var(--calc-sp) * 4) 0 var(--color-success-black);
		}
	}
}
