.button {
	background-color: var(--color-secondary);
	color: var(--color-white);
	cursor: pointer;
	display: block;
	font-weight: 700;
	margin-inline: auto;
	text-align: center;
	text-decoration: none;
	transition: opacity var(--transition);
	@media (hover: hover) {
		&:hover {
			opacity: var(--opacity);
		}
	}
	&:active {
		opacity: var(--opacity);
	}
	&[data-color='secondary'] {
		background-color: var(--color-secondary);
	}
	&[data-color='success'] {
		background-color: var(--color-success);
	}
	&[data-color='secondary']:disabled,
	&[data-color='success']:disabled {
		background-color: var(--color-gray);
		color: var(--color-white);
		cursor: not-allowed;
		opacity: 1;
		@media (hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
	}
	&[data-margin-inline='false'] {
		margin-inline: unset;
	}
}
@media (min-width: 640px) {
	.button {
		border-radius: calc(var(--border-radius) * 1px);
		font-size: calc(var(--font-size-2) * 1px);
		padding: calc(var(--spacing-2) * 1px);
		width: min(100%, 400px);
	}
	.button[data-is-floating='true'] {
		flex: 1;
		min-width: 0;
		width: auto;
	}
}
@media (max-width: 639px) {
	.button {
		border-radius: calc(var(--calc-sp) * var(--border-radius));
		font-size: calc(var(--calc-sp) * var(--font-size-2));
		padding: calc(var(--calc-sp) * var(--spacing-2));
		width: 100%;
	}
	.button[data-is-floating='true'] {
		flex: 1;
		min-width: 0;
		width: auto;
	}
}
