.section {
	border-left: 1px solid var(--color-input-50);
	padding-inline-start: calc(var(--spacing-2) * 1px);
}

@media (max-width: 639px) {
	.section {
		padding-inline-start: calc(var(--calc-sp) * var(--spacing-2));
	}
}
