.card {
	align-items: start;
	background-color: var(--color-white);
	display: grid;
	position: relative;
}
@media (min-width: 640px) {
	.card {
		gap: calc(var(--spacing-4) * 1px);
		&[data-has-words='true'] {
			grid-template-columns: 1fr 1fr;
			&::before {
				background-color: var(--color-gray);
				content: '';
				height: 100%;
				left: 50%;
				position: absolute;
				top: 50%;
				translate: 0 -50%;
				width: 1px;
			}
		}
	}
}
@media (max-width: 639px) {
	.card {
		&[data-has-words='true'] {
			gap: calc(var(--spacing-4) * var(--calc-sp));
			grid-template-rows: auto 1fr;
		}
	}
}
.wordList {
	display: grid;
}

.wordList > * + * {
	border-top: 1px dashed var(--color-gray);
}

.footer {
	position: relative;
}

@media (min-width: 640px) {
	.wordList > * + * {
		margin-top: calc(var(--spacing-2) * 1px);
		padding-top: calc(var(--spacing-2) * 1px);
	}
}

@media (max-width: 639px) {
	.wordList > * + * {
		margin-top: calc(var(--calc-sp) * var(--spacing-2));
		padding-top: calc(var(--calc-sp) * var(--spacing-2));
	}
	.footer {
		&::before {
			background-color: var(--color-gray);
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			top: calc(-1 * var(--spacing-2) * var(--calc-sp));
			width: 100%;
		}
	}
}
