.wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: calc(var(--spacing-4) * 1px);
}
.spinner {
	animation: spin 0.8s linear infinite;
	border: calc(var(--spacing-1) * calc(1px / 2)) solid var(--color-gray);
	border-radius: 50%;
	border-top-color: var(--color-primary);
}

@media (min-width: 640px) {
	.spinner {
		aspect-ratio: 1;
		width: calc(var(--spacing-5) * 1px);
	}
}

@media (max-width: 639px) {
	.spinner {
		aspect-ratio: 1;
		width: calc(var(--calc-sp) * var(--spacing-5));
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
