.main {
	background-color: var(--color-primary-5);
	flex: 1;
	position: relative;
}
@media (min-width: 640px) {
	.main {
		padding: calc(var(--spacing-5) * 1px) calc(var(--spacing-2) * 1px);
	}
}
@media (max-width: 639px) {
	.main {
		padding: calc(var(--calc-sp) * var(--spacing-5)) calc(var(--calc-sp) * var(--spacing-2));
	}
}
