.card {
	border-style: solid;
	border-width: 1px;
	&[data-border-color='gray'] {
		border-color: var(--color-gray);
	}
	&[data-border-color='success'] {
		border-color: var(--color-success);
	}
	&[data-border-color='warning'] {
		border-color: var(--color-warning);
	}
}
@media (min-width: 640px) {
	.card {
		border-radius: calc(var(--border-radius) * 1px);
		box-shadow: 0 0 calc(var(--spacing-1) * 1px) var(--color-gray);
		padding: calc(var(--spacing-2) * 1px);
		&[data-has-border-left='true'] {
			border-left-width: calc(var(--spacing-1) * 1px);
		}
	}
}
@media (max-width: 639px) {
	.card {
		border-radius: calc(var(--calc-sp) * var(--border-radius));
		box-shadow: 0 0 calc(var(--calc-sp) * var(--spacing-1)) var(--color-gray);
		padding: calc(var(--spacing-2) * var(--calc-sp));
		&[data-has-border-left='true'] {
			border-left-width: calc(var(--calc-sp) * var(--spacing-1));
		}
	}
}
