.card {
	aspect-ratio: 3 / 2;
	background-color: var(--color-white);
	border: 1px solid var(--color-gray);
	color: inherit;
	cursor: pointer;
	display: grid;
	font: inherit;
	overflow: hidden;
	place-content: center;
	text-align: center;
	text-decoration: none;
	transition: opacity var(--transition);
	width: 100%;
	@media (hover: hover) {
		&:hover {
			opacity: var(--opacity);
		}
	}
	&:active {
		opacity: var(--opacity);
	}
}
.title {
	align-self: start;
	-webkit-box-orient: vertical;
	color: var(--color-primary);
	display: -webkit-box;
	font-weight: bold;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
@media (min-width: 640px) {
	.card {
		border-radius: calc(var(--border-radius) * 1px);
		padding: calc(var(--spacing-2) * 1px);
	}
	.title {
		font-size: calc(var(--font-size-2) * 1px);
	}
}
@media (max-width: 639px) {
	.card {
		border-radius: calc(var(--calc-sp) * var(--border-radius));
		padding: calc(var(--calc-sp) * var(--spacing-2));
	}
	.title {
		font-size: calc(var(--calc-sp) * var(--font-size-1));
	}
}
