.toggleDiff {
	align-items: center;
	background: var(--color-primary-10);
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	transition: opacity var(--transition);
}
@media (min-width: 640px) {
	.toggleDiff {
		border-radius: calc(var(--border-radius) * 1px);
		padding: calc(var(--spacing-1) * 1px);
	}
}
@media (max-width: 639px) {
	.toggleDiff {
		border-radius: calc(var(--calc-sp) * var(--border-radius));
		padding: calc(var(--calc-sp) * var(--spacing-1));
	}
}
