.row {
	align-items: start;
	display: flex;
	gap: calc(var(--spacing-1) * 1px);
}

.row > :first-child {
	padding-top: calc(var(--spacing-1) * 1px);
}

.content {
	flex: 1;
	min-width: 0;
}

@media (max-width: 639px) {
	.row {
		gap: calc(var(--calc-sp) * var(--spacing-1));
	}
	.row > :first-child {
		padding-top: calc(var(--calc-sp) * var(--spacing-1));
	}
}
