.header {
	background-color: var(--color-primary);
}
.inner {
	align-items: center;
	display: flex;
	gap: calc(var(--spacing-2) * 1px);
	justify-content: space-between;
}
.signupLink {
	border: 1px solid var(--color-white);
	color: var(--color-white);
	flex-shrink: 0;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	transition:
		background-color var(--transition),
		color var(--transition),
		opacity var(--transition);
}
@media (hover: hover) {
	.signupLink:hover {
		background-color: var(--color-white);
		color: var(--color-primary);
	}
}
.signupLink:active {
	opacity: var(--opacity);
}
@media (min-width: 640px) {
	.header {
		padding: calc(var(--spacing-2) * 1px);
	}
	.signupLink {
		border-radius: calc(var(--border-radius) * 1px);
		font-size: calc(var(--font-size-2) * 1px);
		padding: calc(var(--spacing-1) * 1px) calc(var(--spacing-2) * 1px);
	}
}
@media (max-width: 639px) {
	.header {
		padding: calc(var(--calc-sp) * var(--spacing-2));
	}
	.inner {
		gap: calc(var(--calc-sp) * var(--spacing-1));
	}
	.signupLink {
		border-radius: calc(var(--calc-sp) * var(--border-radius));
		font-size: calc(var(--calc-sp) * var(--font-size-1));
		padding: calc(var(--calc-sp) * var(--spacing-1)) calc(var(--calc-sp) * var(--spacing-2));
	}
}
