.avatar {
	aspect-ratio: 1;
	border-radius: 50%;
	display: block;
	margin-inline: auto;
	object-fit: cover;
}

@media (min-width: 640px) {
	.avatar {
		width: 96px;
	}
}

@media (max-width: 639px) {
	.avatar {
		width: calc(var(--calc-sp) * 96);
	}
}
